#header { height: 40px; opacity: 0.9; }
#header a { color: #FFF; padding: 0 8px; }
#header nav { background-color: transparent; opacity: 0.5; }
#header nav:hover { opacity: 1; }

#header nav li {
	line-height: 34px;
	font-size: 12px;
	border: 1px solid #5F5F5F;
	margin-right: 3px;
	background-color: #464646;
}

#header nav li:hover { background-color: #5A5A5A; }

section { margin: 0 0 20px; padding-top: 10px; }
section #title { margin-top: 60px; }
section #title span { font-size: 12px; }
section #title h1 { margin-top: 20px; text-align: left; }
section #title .credits { color: #B1B1B1; }

section .image { margin: 0 0 40px 0; }

section .image .credits {
  font-size: 11px;
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #696969;
}

section .image .credits.left { display: block; }
section .image .credits.right { display:block; text-align: right; }

h3 { font-size: 22px; line-height: 30px; font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif !important; margin-bottom: 30px; }
h3 { color: white; }
h4 { color: #FFA500; }
strong { text-decoration: underline; }

span.date { color: #B1B1B1; font-size: 11px; }

h5 {
	font-family: Arial;
	text-transform: uppercase;
	font-weight: bold;
	color: #FFF;
	text-shadow: 2px 2px #000;
}

h3:before, h4:before { 
  display: block; 
  content: " "; 
  margin-top: -80px; 
  height: 80px; 
  visibility: hidden; 
}

footer span { font-size: 12px; }

@media print, screen and (max-width: 480px) {
	#header { display: none; }
	section #title { margin-top: 15px; }
}