section { margin: 0 0 20px; }
section #title h1 { margin-top: 20px; text-align: left; }
section #title .credits { color: #B1B1B1; }

section .image { margin: 0 0 30px 0; }

section .image .credits {
  font-size: 11px;
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #696969;
}

section .image .credits.left { float: left; }
section .image .credits.right { float: right; }